body {
    background: #444442;
}

.react-calendar {
    background: #616159;
    height: 320px;
}
.react-calendar__tile {
    color: white;
    font-weight: bold;
    font-family: sans-serif !important;
}
.react-calendar__navigation__label {
    font-size: 18px;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}
.react-calendar__navigation__arrow {
    display: none;
}
.react-calendar__month-view__days__day--weekend {
    color: white;
}
.react-calendar__tile--active {
    background: none;
    color: white;
}
.react-calendar__month-view__weekdays {
    display: none !important;
}
.react-calendar__navigation {
    margin-bottom: 0%;
}
/* .react-calendar__month-view__days__day--weekend {
    background: #969895;
} */